black
fastapi
gradio
httpx
joblib
markdown2>=2.4,<3
matplotlib
numpy
openpyxl
pandas
plotly
pydantic>=2.7,<3
pydantic-settings>=2.2,<3
PyYAML>=6.0.2
python-jose[cryptography]
python-multipart
requests
ruff
scikit-learn
scipy
sphinx
streamlit
tenacity
typing_extensions
uvicorn
xlrd
